[submodule "CookHolic-using-grid"]
	path = CookHolic-using-grid
	url = https://github.com/PrabinaRegmi/CookHolic-using-grid.git
[submodule "NewsGrid_website"]
	path = NewsGrid_website
	url = https://github.com/PrabinaRegmi/NewsGrid_website.git
[submodule "RiseHigh_Project"]
	path = RiseHigh_Project
	url = https://github.com/PrabinaRegmi/RiseHigh_Project.git
[submodule "Temperature-converter"]
	path = Temperature-converter
	url = https://github.com/PrabinaRegmi/Temperature-converter.git
[submodule "Dice-challenge"]
	path = Dice-challenge
	url = https://github.com/PrabinaRegmi/Dice-challenge.git
[submodule "Loan-calculator"]
	path = Loan-calculator
	url = https://github.com/PrabinaRegmi/Loan-calculator.git
[submodule "SimpleHotel"]
	path = SimpleHotel
	url = https://github.com/PrabinaRegmi/SimpleHotel.git
[submodule "ScoreKeeper"]
	path = ScoreKeeper
	url = https://github.com/PrabinaRegmi/ScoreKeeper.git
[submodule "EdgeLedger"]
	path = EdgeLedger
	url = https://github.com/PrabinaRegmi/EdgeLedger.git
[submodule "JD"]
	path = JD
	url = https://github.com/PrabinaRegmi/JD.git
